#game-page-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content 200px;
    grid-template-areas: 
        'title'
        'playground'
        'admin'
        'deck';

    background-image: url('/images/result_background.png');
    background-size: cover;
}

.planning-poker-logo {
    font-size: 100px;
}

.menu-links-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.game-page-title {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    text-align: center;
}

.leave-room-btn {
    margin: 0 20px 0 0;
    justify-self: end;
    align-self: flex-start;
    font-size: 14px;
}

.game-page-admin {
    grid-area: admin;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}

.game-page-playground {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, 150px); 
    justify-content: center;
    align-content: space-evenly; 
}

.game-container {
    grid-area: playground;
    box-shadow: 1px 1px 2px 1px #dfdfdf;
    background-color: #f9f9f9;
    display: grid;
    margin: 0 5% 5% 5%;
    min-height: 210px;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
}

.game-page-deck {
    background-color: #f9f9f9;
    padding-left: 15px;
    margin-top: 15px;
    grid-area: deck;
    display: grid;
    grid-auto-flow: column;
    align-content: space-evenly; 
    justify-content: space-evenly;
    grid-gap: 5px;    
    overflow: auto;
    overflow-y: hidden !important;
}

.game-page-deck > div:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.game-deck-disabled {
    background-color: grey;
    opacity: 0.4;
}

.game-deck-disabled > div:hover {
    transform: scale(1, 1) !important;
    cursor: not-allowed !important;
}

.leave-and-game-code {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 40px;
    align-content: center;
    justify-self: end;
    align-self: center;
}

span.join-with-code {
    font-size: 12px;
}

.game-code {
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    display: grid;
    width: 175px;
    text-align: center;
    grid-template-columns: min-content 1fr;
    background: rgb( 241, 242, 245 );
    color: var( --result-main-color );
}

.info-icon {
    font-weight: bold;
    color: var( --result-main-color );
    cursor: pointer;
    font-size: 30px;
    justify-self: start;
    align-self: center;
    margin-left: 20px;
    user-select: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.clone-icon {
    font-size: 26px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 7px;
}

.code-text {
    font-size: 18px;
    font-weight: 600;
}

#card-on-table-container {
    display: grid;
    grid-template-rows: 25px auto;
}

#card-on-table-container #card-container {
    justify-self: center;
}

.card-on-table-name {
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: var( --result-main-color );
}

.hamburger-icon {
    display: none;
}

@media only screen and ( max-width: 1400px ) {
    .game-page-deck {
        justify-content: space-between !important;
        grid-gap: 15px !important;
    }
}

.info-big {
    padding: 20px;
}

@media only screen and ( max-width: 1024px ) {
    .leave-and-game-code {
        grid-gap: 10px;
    }
    .leave-room-btn {
        margin-right: 5px;
    }
}

/* Mobile */
@media only screen and ( max-width: 768px ) {
    #game-page-container {
        grid-template-rows: min-content auto min-content 150px;
    }

    .hamburger-icon {
        display: block;
    }

    .game-page-title {
        grid-template-columns: 30px auto;
        padding-top: 0px;
    }
    
    .leave-room-btn {
        visibility: hidden;
        margin: 0 0 0 0;
    }

    .game-code {
        visibility: hidden;
        margin: 0 0 0 0;
    }

    .game-container {
        box-shadow: none;
        background-color: transparent;
        display: grid;
        margin: 0;
        min-height: 0px;
        align-self: center;
        padding: 0px;
        border-radius: 0px;
    }
    
    .game-page-deck {
        background-color: transparent;
        padding-left: 10px;
        margin-top: 0px;
        grid-area: deck;
        display: grid;
        grid-auto-flow: column;
        align-content: space-evenly; 
        justify-content: space-evenly;
        grid-gap: 5px;
        overflow: auto;
        overflow-y: hidden !important;
    }
}

@media only screen and ( max-width: 420px ) {
    .planning-poker-logo {
        font-size: 64px;
    }
    .game-page-title {
        grid-template-columns: 30px auto;
    }
}