.join-page-container {
    display: grid;
    grid-gap: 20px;
    align-content: center;
}

.join-game-input-container {
    justify-self: center;
    display: grid;
    grid-gap: 20px;
}

.join-btn {
    margin-top: 20px;
    justify-self: center;
}

.error-message {
    color: red;
    letter-spacing: 1px;
    justify-self: center;
}